body {
    background-color: #FCFCFC;
}

p, ul, a, h1, h2, h3 {
	font-family: "Open Sans", sans-serif;
}

p, ul {
    color: #3E4044;
}

a {
	color: #1669E5;
	text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1, h2, h3 {
	color: #3E4044;
}

.nav {
	background-color: white;
}