html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
  
  overflow-x:hidden;
}

.darkArea {
  background: #11171C;;
}

.lightArea {
  background: #AFD0ED;
}

.mainColumn {
  max-width: 900px;
  margin: 0 auto;
  padding: 100px 40px;
}

.topBar {
  margin-bottom: 100px;
}

.left {
  display: inline-block;
}

.right {
  text-align: right;
  float: right;
}

.siteIcon {
  width: 36px;
  opacity: 0.8;
  transition: opacity 0.1s;
}

.iconLink:hover .siteIcon {
  opacity: 1;
}

.nav {
  display: inline-block;
  position: relative;
  top: 12px;
}
.nav a {
  color: #DAE8F5;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  margin-left: 30px;
  opacity: 0.8;
}
.nav a:hover {
  opacity: 1;
}

.pageHeader {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-weight: 100;
  
  color: #AFD0ED;
  text-decoration: none;
}
.pageHeader span {
  color: #1A63A3;
  font-size: 60px;
  display: block;
  font-weight: 700;
}

.sectionHeader {
  color: #11171C;
  font-size: 38px;
  font-family: 'Raleway', sans-serif;
}
.sectionHeader span {
  color: #1A63A3;
}

.darkArea .sectionHeader {
  color: #AFD0ED;
}

.paragraphContent {
  color: #AFD0ED;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
}
.paragraphContent b {
  font-weight: 700;
  color: white;
}

.lightArea .paragraphContent {
  color: #11171C;
}
.lightArea .paragraphContent b {
  color: #1A63A3;
}

.dashedList li:before {
  content: "-";
  position: relative;
  left: -15px;
}

.dashedList li {
  text-indent: -5px;
  list-style: none;
}

.contactList a {
  color: #1A63A3;
  text-decoration: none;
}
.contactList a:hover {
  font-weight: 700;
}